.nav {
  > li {
    > a {
      color: #fff;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.fa {
  font-size: 2rem;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.cart {
  cursor: pointer;
}
