.badge-danger {
  background-color: #b61827;
}
.badge-warning {
background-color: #d58512;
}

.badge-success {
background-color: #398439;
}

.badge-info {
background-color: $theme-myntra-subtext-color;
}

.badge-inverse {
background-color: #333333;
}