.logo {
  //background: transparent url("../../../assets/logo.png") no-repeat;
  background-size: contain;
  background-position: center left;
  height: 75px;
  display: block;
  margin-left: 15px;
  margin-bottom: 50px;
}

.nav {
  position: fixed;

  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;

    &:hover,
    &:focus {
      background-color: transparent;
      font-weight: 600;
    }

    .indicator {
      width: 30px;
      height: 4px;
      display: block;
      background-color: #fff;
    }
  }
}
