@import "../../../../variables";

$product-h: 250;

.product {
  height: auto;
  .product-content {
    position: relative;
    min-height: #{$product-h}px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 6px;

    .product-header,
    .product-footer {
      height: #{($product-h / 2) - 15}px;
    }

    .product-header {
      background: linear-gradient(to top, transparent, $primary-color-alternative);
      border-radius: 6px 6px 0 0;

      h1 {
        padding: 15px;
      }
    }

    .product-footer {
      background: linear-gradient(to bottom, transparent, $primary-color-alternative);
      border-radius: 0 0 6px 6px;
    }
  }
}
