@import "../../../../variables";

$product-h: 250;

.product {
  height: auto;
  margin-bottom: 16px;

  .product-content {
    position: relative;
    min-height: #{$product-h}px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 6px;

    .product-footer {
      background: linear-gradient(to bottom, transparent 25%, $primary-color-alternative);
      border-radius: 0 0 6px 6px;
      width: 100%;
      height: #{$product-h / 3}px;
      position: absolute;
      bottom: 0;

      h1 {
        padding: 15px;
        width: 100%;
      }
    }
  }
}
