<!--<div class="default">
  <section>
    <app-navigation *ngIf="currentUrl && !isCheckoutRoute()"></app-navigation>
    <app-checkout-navigation [currentStep]="currentStep" *ngIf="currentUrl && isCheckoutRoute()"></app-checkout-navigation>
    <app-loading-indicator></app-loading-indicator>
    <app-notification></app-notification>

    <main class="body container">
      <router-outlet></router-outlet>
    </main>

    <app-checkout-footer *ngIf="currentUrl && isCheckoutRoute()"></app-checkout-footer>
    <app-footer *ngIf="currentUrl && !isCheckoutRoute()"></app-footer>
  </section>
</div>-->
<div class="container-fluid">
  <div class="col-lg-2">
    <!--<app-nav-side></app-nav-side>-->
  </div>
  <div class="col-lg-10">

    <app-navigation *ngIf="currentUrl && !isCheckoutRoute()"></app-navigation>
    <app-checkout-header [currentStep]="currentStep" *ngIf="currentUrl && isCheckoutRoute()"></app-checkout-header>
    <app-loading-indicator></app-loading-indicator>
    <app-notification></app-notification>
    <router-outlet></router-outlet>
    <!-- Bienvenido -->
<!--    <app-welcome></app-welcome>-->

    <!-- Nosotros -->
<!--      <app-about></app-about>-->

  </div>
</div>
