@import "../variables";

main {
  padding-top: 90px;
}

.container-fluid {
  margin-top: 15px;
}

.welcome {
  $padding: 20%;
  color: #fff;
  text-align: center;
  padding-top: $padding;
  padding-bottom: $padding;

  h1 {
    font-family: $primary-font;
    margin: 0;

    &:nth-child(1) {
      font-size: 8rem;
    }
    &:nth-child(2) {
      font-size: 6rem;
    }

    span {
      font-family: $secondary-font;
      font-size: 8rem;
    }
  }

  button {
    font-family: $primary-font;
    font-weight: 600;
    background-color: $primary-color;
    padding: 5px 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 2px 12px 0 #{$primary-color}80;
    margin-top: 20px;

    &:hover,
    &:active {
      color: #fff;
    }

    &:hover {
      font-family: $secondary-font;
      box-shadow: 0 5px 12px 0 #{$primary-color}80;
    }
  }
}
