@import "../variables";

.app-body {
  height: map_get($app-properties, height);
  width: map_get($app-properties, width);
  position: fixed;
  top: 0;
  left: 0;

  background: #001A1E url('assets/' + $background-primary) no-repeat;
  background-size: 100%;
}

// Efecto de deslizamiento para el background.

.slide {
  -webkit-transition: background-position 1s ease-in-out;
  -moz-transition: background-position 1s ease-in-out;
  -ms-transition: background-position 1s ease-in-out;
  -o-transition: background-position 1s ease-in-out;
  transition: background-position 1s ease-in-out;
}
