<div class="row about vivify {{nameClass}}">
  <div class="col-lg-9">
    <h2 class="vivify fadeInLeft delay-500">Acerca de</h2>
    <h1 class="vivify fadeInLeft delay-600">Nosotros</h1>

    <p>Somos una empresa dedicada a la distribución de artículos para la pesca
      y todo lo relacionado con la naturaleza para vivirla en su máxima expresión.</p>
    <label>La calidad, la variedad de los productos y el buen servicio nos caracteriza.</label>
  </div>
  <div class="col-lg-3">
    <span class="about-img"></span>
  </div>
</div>
