@import "variables";
@import "material-icons";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Whitney-semi-bold";
  src: url("assets/WhitneyHTF-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Whitney";
  src: url("assets/WhitneyHTF-Book.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("assets/WebFonts/original_Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/WebFonts/original_Montserrat-Bold.woff") format("woff");
}

// bootstrap fonts
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "app/shared/scss/themes";
@import "app/shared/scss/custom_bootstrap";

body {
  line-height: 1.5;
  color: #ebe0d7;
  //background: url("assets/bg.jpg") no-repeat;
  background-color: #1b6d85;
  background-size: cover;
  background-position: top;
  /*background-color: #f9f8f6#fff;*/
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,label,p,span,div {
  font-family: $primary-font;
  font-size: 2rem;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row-base {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.coming-soon {
  cursor: url('/assets/comingsoon.png'), auto !important;
}

html {
  overflow-y: scroll;
}
