/*Colors*/
$primary-color: #0086C5;
$secondary-color: #BBE3EF;
$alternative-color: #FFF600;

/*Fonts*/
$primary-font: 'Montserrat-Light', sans-serif;
$secondary-font: 'Montserrat-Bold', sans-serif;

/*-----*/
$logo: 'logo.png';
$background-primary: 'bg_mod.png';

$g-height: 85vh;
