/*Colors*/
$primary-color: #0086C5;
$primary-color-alternative: #001A1E;
$secondary-color: #BBE3EF;
$alternative-color: #FFF600;

/*Fonts*/
$primary-font: 'Montserrat-Light', sans-serif;
$secondary-font: 'Montserrat-Bold', sans-serif;

/*-----*/
$logo: 'logo.png';
$background-primary: 'bg-mod.png';

/*Generic*/

$app-properties: (
  height: 100vh,
  width: 100%,
);

$component-height: 85vh;
